<div class="section-header">
    <h2>Senasa</h2>
    <button class="float-right" nbButton (click)="open()"><nb-icon icon="plus-outline"></nb-icon> Crear Nuevo</button>
</div>

<input fullWidth nbInput placeholder="Buscar" [nbFilterInput]="dataSource" id="search" class="search-input">

<table [nbTreeGrid]="dataSource" equalColumnsWidth>
    <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
    <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

    <ng-container *ngFor="let column of defaultColumns" [nbTreeGridColumnDef]="column">
      <th class="center" nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{column | titlecase}}</th>
      <td class="center" nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column]}}</td>
    </ng-container>

    <ng-container [nbTreeGridColumnDef]="customColumn">
        <th class="center" nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{customColumn | titlecase}}</th>
        <td class="center" nbTreeGridCell *nbTreeGridCellDef="let row">
          <div class="action-container">
              <nb-icon status="info" icon="edit-outline"></nb-icon>
              <nb-icon (click)="delete()" status="danger" icon="trash-outline"></nb-icon>
          </div>
        </td>
    </ng-container>
  
  </table>
