<div class="section-header">
  <h2>Conductores</h2>
  <button class="float-right" nbButton (click)="open()"><nb-icon icon="plus-outline"></nb-icon> Crear Nuevo</button>
</div>

<input fullWidth nbInput placeholder="Buscar" [nbFilterInput]="dataSource" id="search" class="search-input">

<table [nbTreeGrid]="dataSource">
  <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
  <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

  <ng-container nbTreeGridColumnDef="id">
    <th class="center" nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>ID</th>
    <td class="center" nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data['id']}}</td>
  </ng-container>

  <ng-container nbTreeGridColumnDef="firstName">
    <th class="center" nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Nombre</th>
    <td class="center" nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data['firstName']}}</td>
  </ng-container>

  <ng-container nbTreeGridColumnDef="lastName">
    <th class="center" nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Apellido</th>
    <td class="center" nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data['lastName']}}</td>
  </ng-container>

  <ng-container nbTreeGridColumnDef="dni">
    <th class="center" nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>DNI</th>
    <td class="center" nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data['dni']}}</td>
  </ng-container>

  <ng-container nbTreeGridColumnDef="licenseExpirationDate">
    <th class="center" nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Expiración Licencia</th>
    <td class="center" nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data['licenseExpirationDate']}}</td>
  </ng-container>

  <ng-container [nbTreeGridColumnDef]="customColumn">
      <th class="center" nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{customColumn | titlecase}}</th>
      <td class="center" nbTreeGridCell *nbTreeGridCellDef="let row">
        <div class="action-container">
            <nb-icon (click)="update(row.data)" status="info" icon="edit-outline"></nb-icon>
            <nb-icon (click)="delete(row.data)" status="danger" icon="trash-outline"></nb-icon>
        </div>
      </td>
  </ng-container>

</table>
