<nb-card status="primary">
  <nb-card-header>Crear Orden de Compra</nb-card-header>
  <nb-card-body>

      <form class="form" [formGroup]="orderForm">
          <input [status]="get('amount').invalid && (get('amount').dirty || get('amount').touched) ? 'danger' : 'primary'" min="0" class="input" fullWidth nbInput type="number" placeholder="Cantidad" formControlName="amount">

          <div *ngIf="get('amount').invalid && (get('amount').dirty || get('amount').touched)" class="error-container">
            <div class="input-error" *ngIf="get('amount').errors.required">El campo <strong>Cantidad</strong> es requerido</div>
            <div class="input-error" *ngIf="get('amount').errors.min">El campo <strong>Cantidad</strong> tiene un valor minimo de 0</div>
          </div>

          <input [status]="get('price').invalid && (get('price').dirty || get('price').touched) ? 'danger' : 'primary'" min="0" class="input" fullWidth nbInput type="number" placeholder="Price" formControlName="price">

          <div *ngIf="get('price').invalid && (get('price').dirty || get('price').touched)" class="error-container">
            <div class="input-error" *ngIf="get('price').errors.required">El campo <strong>Precio</strong> es requerido</div>
            <div class="input-error" *ngIf="get('price').errors.min">El campo <strong>Precio</strong> tiene un valor minimo de 0</div>
          </div>

          <input [status]="get('createdDate').invalid && (get('createdDate').dirty || get('createdDate').touched) ? 'danger' : 'primary'" class="input" fullWidth nbInput placeholder="Fecha de Emisión" [nbDatepicker]="datepicker" formControlName="createdDate">
          <nb-datepicker [min]="min" #datepicker></nb-datepicker>

          <div *ngIf="get('createdDate').invalid && (get('createdDate').dirty || get('createdDate').touched)" class="error-container">
            <div class="input-error" *ngIf="get('createdDate').errors.required">El campo <strong>Fecha de Emisión</strong> es requerido</div>
          </div>

          <form class="sub-form" [formGroup]="productForm">  
                <nb-layout-column>
                    <nb-select formControlName="product" class="input" placeholder="Producto">
                      <nb-option *ngFor="let product of products" [value]="product">{{product.name}}</nb-option>
                    </nb-select>
                </nb-layout-column>

                <nb-layout-column>
                    <input class="input" type="number" nbInput placeholder="Cantidad" formControlName="amount">
                </nb-layout-column>

                <nb-layout-column left class="colored-column-success">
                    <button (click)="addToList()" nbButton [disabled]="!productForm.valid"><nb-icon icon="plus-outline"></nb-icon></button>
                </nb-layout-column>
          </form>

          <div [ngClass]="{'margin-bottom': createProducts.length > 0}" class="badge-container">
            <nb-badge (click)="removeProductItem(productItem)" *ngFor="let productItem of createProducts" text="{{productItem.product.name}} (x{{productItem.amount}})" status="primary"></nb-badge>
          </div>

          <div *ngIf="get('product').invalid && (get('product').dirty || get('product').touched)" class="error-container">
            <div class="input-error" *ngIf="get('product').errors.required">El campo <strong>Producto</strong> es requerido</div>
          </div>

          <nb-select [status]="get('supplier').invalid && (get('supplier').dirty || get('supplier').touched) ? 'danger' : 'primary'" formControlName="supplier" class="input" fullWidth placeholder="Proveedor">
            <nb-option *ngFor="let supplier of suppliers" [value]="supplier">{{supplier.name}}</nb-option>
          </nb-select>

          <div *ngIf="get('supplier').invalid && (get('supplier').dirty || get('supplier').touched)" class="error-container">
            <div class="input-error" *ngIf="get('supplier').errors.required">El campo <strong>Proveedor</strong> es requerido</div>
          </div>
      </form>

  </nb-card-body>
  <nb-card-footer>
    <div class="button-container">
      <button (click)="close()" class="margin-right" status="danger" nbButton>Cancel</button>
      <button (click)="submit()" status="success" nbButton [disabled]="!orderForm.valid">Submit</button>
    </div>
  </nb-card-footer>
</nb-card>
