<nb-card status="primary">
  <nb-card-header>Crear Orden de Compra</nb-card-header>
  <nb-card-body>

      <form class="form" [formGroup]="orderForm">
          <input class="input" fullWidth nbInput type="number" placeholder="Cantidad" formControlName="amount">
          <input class="input" fullWidth nbInput type="number" placeholder="Price" formControlName="price">
        
          <nb-select formControlName="product" class="input" fullWidth placeholder="Producto">
            <nb-option *ngFor="let product of products" [value]="product">{{product.name}}</nb-option>
          </nb-select>
      </form>

  </nb-card-body>
  <nb-card-footer>
    <div class="button-container">
      <button (click)="close()" class="margin-right" status="danger" nbButton>Cancel</button>
      <button (click)="submit()" status="success" nbButton [disabled]="!orderForm.valid">Submit</button>
    </div>
  </nb-card-footer>
</nb-card>
