<nb-card status="primary">
  <nb-card-header>Modificar Producto</nb-card-header>
  <nb-card-body>

      <form class="form" [formGroup]="productForm">
          <input [status]="get('name').invalid && (get('name').dirty || get('name').touched) ? 'danger' : 'primary'" class="input" fullWidth nbInput type="text" placeholder="Nombre" formControlName="name">

          <div *ngIf="get('name').invalid && (get('name').dirty || get('name').touched)" class="error-container">
            <div class="input-error" *ngIf="get('name').errors.required">El campo <strong>Nombre</strong> es requerido</div>
          </div>
        
          <nb-select [status]="get('unit').invalid && (get('unit').dirty || get('unit').touched) ? 'danger' : 'primary'" formControlName="unit" class="input" fullWidth placeholder="Unidades">
            <nb-option *ngFor="let unit of units" [value]="unit">{{unit}}</nb-option>
          </nb-select>

          <div *ngIf="get('unit').invalid && (get('unit').dirty || get('unit').touched)" class="error-container">
            <div class="input-error" *ngIf="get('unit').errors.required">El campo <strong>Unidades</strong> es requerido</div>
          </div>
      </form>

  </nb-card-body>
  <nb-card-footer>
    <div class="button-container">
      <button (click)="close()" class="margin-right" status="danger" nbButton>Cancel</button>
      <button (click)="submit()" status="success" nbButton [disabled]="!productForm.valid">Submit</button>
    </div>
  </nb-card-footer>
</nb-card>
