<nb-stepper orientation="horizontal" [linear]=false>

  <nb-step label="Recepción">
    <app-reception [subject]="subject"></app-reception>
    <div class="step-button-container">
      <button (click)="next()" type="button" nbButton nbStepperNext>siguiente</button>
    </div>
  </nb-step>

  <nb-step label="Documentación">
    <app-documentation [subject]="subject"></app-documentation>
    <div class="step-button-container">
      <button (click)="prev()" class="margin-right" nbButton nbStepperPrevious>anterior</button>
      <button (click)="next()" nbButton nbStepperNext>siguiente</button>
    </div>
  </nb-step>

  <nb-step label="Distribución">
      <app-distribution [subject]="subject"></app-distribution>
      <div class="step-button-container">
        <button (click)="prev()" class="margin-right" nbButton nbStepperPrevious>anterior</button>
        <button (click)="next()" nbButton nbStepperNext>siguiente</button>
      </div>
    </nb-step>

  <nb-step label="Calidad">
    <app-quality [subject]="subject"></app-quality>
    <div class="step-button-container">
      <button (click)="prev()" class="margin-right" nbButton nbStepperPrevious>anterior</button>
      <button (click)="next()" nbButton nbStepperNext>siguiente</button>
    </div>
  </nb-step>

  <nb-step label="Almacenamiento">
    <h4>Step content #4</h4>
    <div class="step-button-container">
      <button (click)="prev()" class="margin-right" nbButton nbStepperPrevious>anterior</button>
      <button (click)="next()" status="success" nbButton nbStepperNext>terminar</button>
    </div>
  </nb-step>
</nb-stepper>
