<nb-stepper orientation="horizontal" [linear]=true>
    
  <nb-step [stepControl]="form">
    <!-- <form [formGroup]="form">
      <input nbInput fullWidth [status]="!form.get('name').valid && form.get('name').touched ? 'danger' : 'primary'"  formControlName="name" type="text" placeholder="Insert Name">
      <input nbInput fullWidth [status]="!form.get('surname').valid && form.get('surname').touched ? 'danger' : 'primary'" formControlName="surname" type="text" placeholder="Insert Surname">
      <button type="button" nbButton nbStepperNext>next</button>
    </form> -->
    <app-reception></app-reception>
  </nb-step>

  <nb-step [label]="labelTwo">
    <ng-template #labelTwo>Second step</ng-template>
    <h4>Step content #2</h4>
    <button nbButton nbStepperPrevious>prev</button>
    <button nbButton nbStepperNext>next</button>
  </nb-step>

  <nb-step label="Third step">
    <h4>Step content #3</h4>
    <button nbButton nbStepperPrevious>prev</button>
    <button nbButton nbStepperNext>next</button>
  </nb-step>

  <nb-step [label]="labelFour">
    <ng-template #labelFour>Fourth step</ng-template>
    <h4>Step content #4</h4>
    <button nbButton nbStepperPrevious>prev</button>
    <button nbButton disabled nbStepperNext>next</button>
  </nb-step>
</nb-stepper>