<nb-stepper orientation="horizontal" [linear]=false>
    
  <nb-step label="Recepción">
    <app-reception></app-reception>
    <div class="step-button-container">
      <button type="button" nbButton nbStepperNext>siguiente</button>
    </div>
  </nb-step>

  <nb-step label="Documentación">
    <app-documentation></app-documentation>
    <div class="step-button-container">
      <button class="margin-right" nbButton nbStepperPrevious>anterior</button>
      <button nbButton nbStepperNext>siguiente</button>
    </div>
  </nb-step>

  <nb-step label="Calidad">
    <h4>Step content #3</h4>
    <div class="step-button-container">
      <button class="margin-right" nbButton nbStepperPrevious>anterior</button>
      <button nbButton nbStepperNext>siguiente</button>
    </div>
  </nb-step>

  <nb-step label="Almacenamiento">
    <h4>Step content #4</h4>
    <div class="step-button-container">
      <button class="margin-right" nbButton nbStepperPrevious>anterior</button>
      <button status="success" nbButton nbStepperNext>terminar</button>
    </div>
  </nb-step>
</nb-stepper>