<nb-card status="primary">
  <nb-card-header>Crear Documento Senasa</nb-card-header>
  <nb-card-body>

      <form class="form" [formGroup]="senasaForm">
          <input class="input" fullWidth nbInput type="text" placeholder="Razón Social" formControlName="businessName">
        
          <nb-select formControlName="country" class="input" fullWidth placeholder="País">
            <nb-option *ngFor="let country of countries" [value]="country">{{country}}</nb-option>
          </nb-select>

          <nb-select formControlName="product" class="input" fullWidth placeholder="Producto">
              <nb-option *ngFor="let product of products" [value]="product">{{product.name}}</nb-option>
            </nb-select>

          <nb-checkbox formControlName="reviewRequired" class="input" status="primary">Requiere Control de Calidad</nb-checkbox>
      </form>

  </nb-card-body>
  <nb-card-footer>
    <div class="button-container">
      <button (click)="close()" class="margin-right" status="danger" nbButton>Cancel</button>
      <button (click)="submit()" status="success" nbButton [disabled]="!senasaForm.valid">Submit</button>
    </div>
  </nb-card-footer>
</nb-card>
