<nb-card status="danger">
  <nb-card-header>Eliminar Conductor</nb-card-header>
  <nb-card-body>

      <form class="form" [formGroup]="deleteDriverForm">
          <label class="label">Escriba <strong>{{driver.firstName}}</strong> para eliminar al conductor</label>
          <input fullWidth nbInput type="text" placeholder="Nombre del conductor" formControlName="confirm">
      </form>

  </nb-card-body>
  <nb-card-footer>
    <div class="button-container">
      <button (click)="submit()" status="danger" nbButton [disabled]="!deleteDriverForm.valid">Eliminar</button>
    </div>
  </nb-card-footer>
</nb-card>
