.input {
    margin-bottom: 20px;
}

.card-width {
    width: 500px !important;
    margin: auto;
}

.form {
    width: 500px;

    .input-error {
        color: #FF3D71;
        margin-bottom: 20px;
    }

    .badge-container {
        display: flex;
    }

    .margin-bottom {
        margin-bottom: 20px;
    }

    nb-badge {
        position: relative;
        margin-right: 10px;
    }

    nb-badge:hover {
        cursor: pointer;
    }

    .sub-form{
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    }
}

.margin-right {
    margin-right: 10px;
}

.button-container{
    display: flex;
    justify-content: flex-end;
}