.input {
    margin-bottom: 20px;
}

.form {
    width: 500px;

    .input-error {
        color: #FF3D71;
        margin-bottom: 20px;
    }
}

.margin-right {
    margin-right: 10px;
}

.button-container{
    display: flex;
    justify-content: flex-end;
}