<nb-card status="danger">
  <nb-card-header>Eliminar Proveedor</nb-card-header>
  <nb-card-body>

      <form class="form" [formGroup]="deleteSupplierForm">
          <label class="label">Escriba <strong>{{supplier.name}}</strong> para eliminar al proveedor</label>
          <input fullWidth nbInput type="text" placeholder="Nombre del proveedor" formControlName="confirm">
      </form>

  </nb-card-body>
  <nb-card-footer>
    <div class="button-container">
      <button (click)="submit()" status="danger" nbButton [disabled]="!deleteSupplierForm.valid">Eliminar</button>
    </div>
  </nb-card-footer>
</nb-card>
